/*----------------------------------------------
*
* [Theme Elegant Stylesheet]
*<!-- Página desarrollada  por fullstack marketing cireña webs, subida y alojada en github para que los desarrolladores puedan ver el codigo y usarlo para test. En FSM ayudamos los jóvenes que van empezando. Siguenos en Facebook: https://www.facebook.com/fullstackmkt/ y github como:https://github.com/mktfullstack-->
----------------------------------------------*/

/* #region Root */

:root {

    --h1-font: 'Gilroy', sans-serif;
    --h1-size: 6rem;
    --h1-weight: 900;
    --h1-line-height: 1.2;
}

/* #endregion Root */


/*----------------------------------------------
2. Section
----------------------------------------------*/

/* #region Section */

section.featured.right:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-l-color);
}

section.featured.left:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-l-color);
}

section.featured.all:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px dashed var(--primary-l-color);
}

/* #endregion Section */

/*----------------------------------------------
3. Gallery
----------------------------------------------*/

/* #region Gallery */

.gallery img {
    border-radius: 15px;
}

/* #endregion Gallery */